/* simple styles for TT-datamining */

message {
	color: aqua
	}
table {
	border-collapse: collapse;
	table-layout: fixed;
	}

td, th {
	border: solid 1px black;
	vertical-align:top;
	padding: 3px;
	}
.checkDiv th:nth-child(1) {width:150px;}
.checkDiv th:nth-child(2) {width:100px;}


p {margin:0;}
p.time {color:black;}
p.attained {color:green;}
p.not {color:red;}

table.Total, table.Number, table.Average {	/* tables for message summaries */
	display: inline-table;
	border-collapse: collapse;
	border-bottom: 5px solid #FFDDCC;
	}
.Total td, .Total th, 
.Number td, .Number th, 
.Average td, .Average th {	/* cells for message summaries */
	border: solid 1px silver;
	font-size: small;
	text-align: center;
	}
.Total th:nth-child(1), .Number th:nth-child(1), .Average th:nth-child(1) {width:70px;}
.Total th:nth-child(n+2):nth-child(-n+6) {width:50px;}
.Number th:nth-child(n+2):nth-child(-n+6) {width:50px;}
.Average th:nth-child(n+2):nth-child(-n+6) {width:50px;}
#tableDiv, .tableDiv {
	margin: 10px 0px 0px 0px; /* add a little space between teams */
	}
.tableSummary, .tableTeacher { // class for report tables
	margin: 50px 0px 0px 50px; /* add a little space between teams */
	white-space: nowrap; /* always keep these three together */
	}
.tableTeacher {
	width: 820px;
	}
td.tableTeacher { // defaults for teacher tables
	width: 180px;
	}
.tableTeacher td:first-child { // narrow column1 width for teacher tables
	width: 100px;
	}

mark {background-color:#FFFF99;}



